<nav>
  <div class="nav-wrapper">
    <!-- get the data -->
    {{ $data := getJSON $.Site.Params.Strapiapi "/topbar" }}
    <!-- use the data -->
    {{ with $data.logo }}
    <a href="/" class="left brand-logo"><img src="{{ $.Site.Params.staticurl }}{{ .url }}" title="{{ .name }}"></a>
    {{ end }}
    <!-- use the data for the menu items -->
    <ul id="nav-mobile" class="valign-wrapper right hide-on-med-and-down">
      {{ range $_, $comp := $data.body }}
      <!--
      <li><a href="/partners/">PARTNERS</a></li>
      <li><a href="/about-us/">ABOUT US</a></li>
      -->
      <li {{ if $comp.is_button }} class="ws-menu-btn waves-effect waves-light btn" {{ end -}}>
        {{ if eq $comp.__component "menu.link" -}}
        <a href="{{ $comp.url }}">{{ $comp.label }}</a>
        {{- else if eq $comp.__component "menu.dropdown" -}}
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' href='#' data-target='dropdown{{ $comp.id }}'>{{ $comp.label }}</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown{{ $comp.id }}' class='dropdown-content top-dropdown'>
            <!-- each section in dropdown -->
            {{ range $_, $section := $comp.sections }}
              <div class="menu-pad">
              {{ $sect := getJSON $.Site.Params.Strapiapi "/sections/" $section.id }}
              <li class="divider" tabindex="-1"></li>
              <li>{{$comp.label}}</li>
              {{ if $sect.displayname }}
              <li id="section-{{ $sect.name }}">
                {{- if $sect.icon }}
                  <span class="menu-icon">
                    <img src="{{ $.Site.Params.staticurl }}{{ $sect.icon.url }}" class="display-img">
                  </span>
                {{ end -}}
              {{ $sect.displayname }}
              </li>
              {{ end }}
              <!--  each link in section -->
              {{ range $idx, $link := $sect.links }}
                <li><a href="{{ $link.url }}">
                  {{- if $link.icon }}
                    <span class="menu-icon">
                      <img src="{{ $.Site.Params.staticurl }}{{ $link.icon.url }}" class="display-img">
                    </span>
                  {{ end -}}
                  <span>{{- $link.label -}}</span>
                </a></li>
              {{ end}}
              <li class="divider" tabindex="-1"></li>
              </div>
            {{ end }}
          </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
