{{ define "main" }}
  <div class="parallax-container">
    <div class="parallax"><img src="{{ $.Site.Params.staticurl }}{{ .Params.bannerTop }}"></div>
    <!-- <header class="homepage-header"> -->
      <!-- <header class="homepage-header hero"> -->
        <div class="hero center">
          <h1>{{.Params.herotext}}</h1>
          <h4>{{.Params.herosubtext}}</h4>
          {{ $bannerlogos := getJSON $.Site.Params.Strapiapi "/homepage-banner-logos" }}
          <div class="bannerlogos row">
            {{ range $_,$blogo := $bannerlogos.bannerlogos }}
            <div class="bannerimg col s2">
              <img src="{{ $.Site.Params.staticurl }}{{ $blogo.image.url }}" alt="" width="200" height="100" loading="lazy">
            </div>
            {{ end }}
          </div>
        </div>
      <!-- </header>   -->
    <!-- </header> -->
    </div>
  <div class="section ws-grey homepage-content">
    <div class="row container">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{.Content}}
      <br>
      <br>
      <div class="center-align">
        <div class="ws-menu-btn ws-green waves-effect waves-light btn"><a href="#">REQUEST A DEMO</a></div>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="{{ $.Site.Params.staticurl }}{{ .Params.bannerBottom }}"></div>
  </div>
{{ end }}
